<launch>
  <arg name= "Recorder" default= "false" />
  
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
  
  <node name="walker" pkg="walkerbot" type="walkerbot" output ="screen" />
  
  <node if = "$(arg Recorder)" pkg= "rosbag" name= "record_bag" type= "record"	args = "--duration=20 -a -O $(find walkerbot)/results/recorder.bag --exclude '/camera/*'" />

</launch>

